/* BASIC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  background-color: #1c1e3b; /* Fondo sólido en lugar de imagen */
  color: #e0e0ff; /* Color del texto */
  font-size: large;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: fit-content;
}

#formContent {
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 12%, rgba(194, 133, 244, 0.844) 100%, rgba(0, 212, 255, 1) 100%);
  box-shadow: 0 0 20px #ffffff;
  padding: 3rem; /* Aumentar espaciado interno */
  width: 100%;
  max-width: 400px; /* Limitar el ancho máximo */
  height: auto; /* Dejar que la altura sea automática para adaptarse al contenido */
  min-height: 30rem; /* Establecer una altura mínima para estirarlo */
}

.welcome {
  text-align: center;
  padding: 10px;
}

.welcome > h1 {
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px #000;
}

button {
  margin-top: 15px;
  padding: 0.8em 1.8em;
  border: 2px solid #17c3b2;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  font-family: inherit;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
  text-shadow: 1px 1px 2px #fff;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
    padding: 10px;
  }

  #formContent {
    width: 100%;
    height: auto;
  }
}

/* Fade-in Animation */
.fadeIn {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
