<div class="quien-soy-container">
    <h1>¿Quién Soy?</h1>
  
    <div class="info-personal">
      <img src="/Labo_IV/src/assets/img/yo.jpeg" alt="Foto del alumno" class="profile-image" />
      <p><strong>Nombre:</strong> Ignacio Fachado</p>
      <p><strong>Estudiante de:</strong> Programación en la UTN</p>
      <p><strong>Próximo a graduarme:</strong> 2024</p>
    </div>
  
    <div class="game-explanation">
      <h2>Mi Juego</h2>
      <p>Estuve pensando en crear un blackjack 21 con un sistema de puntos de perdida y ganancia a medida que le ganas a la banca o no.</p>
    </div>
  </div>
