<body>
  <h2 class="page-title">Login</h2> <!-- Título en la parte superior de la página -->

  <div class="login-container">
    <form autocomplete="off"> <!-- Deshabilitar autocompletado en el formulario -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required autocomplete="off" /> <!-- Deshabilitar autocompletado en el campo de username -->
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required autocomplete="new-password" /> <!-- Cambiar a new-password -->
      </div>

      <button (click)="login()" type="button" class="login-button">Login</button>
      <button (click)="rellenarForm()" type="button" class="guest-button">usuario1</button>
      <button (click)="rellenarFormadmin()" type="button" class="guest-button">admin</button>

    </form>
  </div>
</body>
