

<body class="body">
  <div class="cards-container">
    <div class="card-container">
      <div class="card">
        <a href="/ahorcado" class="front"> <!-- Cambia la ruta según tu aplicación -->
          <img src="https://firebasestorage.googleapis.com/v0/b/fbst-8c19a.appspot.com/o/ahorcado.jpeg?alt=media&token=f83e79f8-0e52-4b21-ac8d-5304c550bee2" alt="Ahorcado" />
          <div class="back">
            <p>Juego de adivinanza de palabras.</p>
          </div>
        </a>
      </div>
    </div>
  
    <div class="card-container">
      <div class="card">
        <a href="/mayorMenor" class="front"> <!-- Cambia la ruta según tu aplicación -->
          <img src="https://firebasestorage.googleapis.com/v0/b/fbst-8c19a.appspot.com/o/simbolos-colores-baraja-cartas_47243-444.avif?alt=media&token=05c0cdf0-8c1e-4ca3-baf9-9f29a603b6f5" alt ="Mayor o Menor" />
          <div class="back">
            <p>Adivina si el siguiente número es mayor o menor.</p>
          </div>
        </a>
      </div>
    </div>
  
    <div class="card-container">
      <div class="card">
        <a href="/preguntados" class="front"> <!-- Cambia la ruta según tu aplicación -->
          <img src="https://firebasestorage.googleapis.com/v0/b/fbst-8c19a.appspot.com/o/images%20(2).jfif?alt=media&token=74547ed9-6ca2-429c-bbb4-3586a3b9086b" alt="Preguntados" />
          <div class="back">
            <p>Juego de trivia con preguntas de diversos temas.</p>
          </div>
        </a>
      </div>
    </div>
  
    <div class="card-container">
      <div class="card">
        <a href="/blackjack" class="front"> <!-- Cambia la ruta según tu aplicación -->
          <img src="https://firebasestorage.googleapis.com/v0/b/fbst-8c19a.appspot.com/o/unnamed.png?alt=media&token=0a2c3f33-87e0-4862-8f36-b689791bd8f0" alt="Blackjack 21" />
          <div class="back">
            <p>Intenta conseguir 21 sin pasarte.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>